<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
  
    <h1>Home Page</h1>
    <form id="cadasterform">
        <label for="username">Name:</label><br>
        <input type="text" id="username"><br>
        <label for="useremail">Email:</label><br>
        <input type="text" id="useremail"><br>
        <label for="userage">Age:</label><br>
        <input type="text" id="userage"><br>
        <label for="usercpf">Cpf:</label><br>
        <input type="text" id="usercpf"><br>
        <label for="userpassword">Password:</label><br>
        <input type="password" id='userpassword'><br>
        <br>
        <button type="submit">Cadastrar</button>
        <a href="http://localhost:8080/login" style="position: absolute; left: 90px">Logar</a>
    </form>
    <script src="/js/cadasterpage.js"></script>
</body>
</html>
