<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form id="loginform">
        <label for="user_id">Id:</label><br>
        <input type="text" id="user_id"><br>
        <label for="userpassword">Password:</label><br>
        <input type="password" id='userpassword'><br>
        <br>
        <button type="submit">Logar</button>
        <a href="" style="position: absolute; left: 70px">Não tem uma conta? Cadastre-se</a>
    </form>
    <script src="/js/loginpage.js"></script>
</body>
</html>
