<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Info</title>
  </head>
  <body>
    <label for="balance">Balance: </label>
    <label th:text="${balance}">Balance</label>
    <br />
    <label for="transactions">Transactions: </label>
    <label th:text="${transactionsize }">Transactions</label>
    <table border="1">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Payer</th>
          <th>Receiver</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="transaction : ${transactions}">
          <td th:text="${transaction.amount}">Amount</td>
          <td th:text="${transaction.payer_id}">Payer</td>
          <td th:text="${transaction.receiver_id}">Receiver</td>
        </tr>
      </tbody>
    </table>
    <br />
    <label for="user">User ID: </label>
    <label th:text="${id}">User</label>
    <br />
    <label for="user">Username: </label>
    <label th:text="${username}">User</label>
    <br />
    <label for="password">Password: </label>
    <label th:text="${password}">Password</label>
    <br />
    <label for="email">Email: </label>
    <label th:text="${email}">Email</label>
    <br />
    <label for="age">Age: </label>
    <label for="age" th:text="${age}"></label>
    <br />
    <label for="cpf">Cpf: </label>
    <label for="cpf" th:text="${cpf}"></label>
  </body>
</html>
